<div class="list-wrap">
  <% @lists.each do |list| %>
    <div class="list-box">
      <% if list.image.attached? %><!--画像が存在する？-->
        <%= image_tag list.image, size: "200x200" %><!--ある-->
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %><!--ないならこれ使いな-->
      <% end %>
      <div class="list-comment">
        <span class="list-title"><%= link_to list.title, list_path(list.id) %></span><!--リンクになってるタイトル--><br>
        <span class="list-body"><%= list.body %></span><!--本文-->

      </div>
    </div>
  <% end %>
</div>
